.tutors {
    background-color: #fff;
    font-family: var(--main-font);
}
.tutors__container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}
.tutors h2 {
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    padding: 20px 0px 90px 0px;
}
.tutors__text-line .tutor-name_mobile {
    display: none;   
}
.tutor {
    display: flex;
    gap: 50px;
    margin-bottom: 32px;
}
.tutor__photo-line {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tutor__photo-line img {
    display: block;
    width: 272px;
    margin-bottom: 47px;
}
.tutor__photo-line .experience {
    margin-bottom: 11px;
}
.tutor__photo-line .experience span, 
.tutor__photo-line .count-students span {
    font-weight: bold;
}
.tutors__text-line .tutor-name_desktop {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
}
.tutors__text-line .discription1 {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 28px;
}
.tutors__text-line .discription2 {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 28px;
}
.tutors__text-line .discription3 {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 46px;
}
.tutors__text-line .lessons,
.tutors__text-line .coment {
    font-size: 19px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 6px;
}
.tutors__text-line .lessons-discription {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 26px;
}
.tutors__text-line .coment-discription {
    font-size: 16px;
    line-height: 28px;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #DEDEDE;
    margin-bottom: 77px;
}

@media (max-width: 1000px) {
    .tutor {
        flex-direction: column;
        align-items: center;
    }
    .tutors__text-line .tutor-name_desktop {
        display: none;
    }
    .tutor-name_mobile {
        display: block;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .tutors__text-line {
        max-width: 700px;
    }
}
